body{
    font-family: 'Gentium Book Plus', serif;
    font-family: 'Macondo', cursive;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

/*---start-header-section---*/
.header{
    font-size: 70px;
    color: white;
    text-align: center;
    margin-bottom: 0%;
}
.p-line{
    text-align: center;
    color: white;
    padding-top: 0%;
    font-size: 20px;
    padding-bottom: 20px;
}

.top-banner{
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    height: 550px;
    padding: 80px;
    margin-top: 0;
    text-align: center;
}

.link-button{
    text-decoration: none;
    padding: 15px 20px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    background-color: tomato;
    border-radius: 5px;
    text-align: center;
}
/*---end-header-section---*/

/*--start-amount-section--*/
.donate-t{
    text-align: center;
    padding-top: 90px;
}

.head-s{
    font-size: 50px;
    margin-bottom: 0%;
}

.opacity{
    opacity: 0.7;
    margin-bottom: 0%;
    padding: 0%;
}

.flex-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    align-items: center;
}

.flex-container > div{
    background-color: rgba(164, 175, 183, 0.114);
    font-size: 30px;
    padding: 40px 20px;
    margin: 10px;
    border-radius: 7px;
    width: 110px;
    font-weight: 900;
    opacity: 0.6;
}
#div-red{
    color: tomato;
    background-color: rgba(255, 99, 71, 0.13);
    border: 3px solid tomato;
    opacity: 1;
    text-align: center;
}

.same{
    text-align: center;
}

#main-box{
    text-align: center;
    padding: 10px;
    border: 0;
}

.input-box{
    opacity: 0.5;
    border: none;
    outline-width: 0;
}

input[type='text']{
    font-size: 18px;
}

.horizen{
    width: 55%;
    text-align: center;
    margin-bottom: 33px;
    opacity: 0.3;
}

.color-button{
    text-align: center;
    padding-bottom: 105px;
}
/*--end-amount-section--*/

/*--start-donate-plan-section--*/
#donate-plan{
    text-align: center;
}

#flex-box{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    height: 300px;
    align-items: center;
}

#flex-box > div{
    padding: 40px 40px;
    margin: 10px;
    border-radius: 7px;
    height: 285px;
}

.flex-iteam-1{
    width: 20%;
    background-color: rgba(140, 222, 221, 0.278);
}

.flex-iteam-2{
    width: 20%;
    background-color: rgba(231, 154, 126, 0.251);
}

.flex-iteam-3{
    width: 20%;
    background-color: rgba(219, 222, 140, 0.36);
}

.bottom-clear{
    padding-bottom: 40px;
}
/*--end-donate-plan-section--*/
